body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.container {
    margin: 3rem auto;
    max-width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    background-color: darkgray;
}

.container h3 {
    text-align: center;
    grid-column: 1/3;
}

.container label {
    grid-column: 1/2;
}

.container input {
    grid-column: 2/3;
}

.container select {
    grid-column: 2/3;
}

.container button {
    grid-column: 1/3;
}

.result {
    margin: 0rem auto;
    max-width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: cornflowerblue;
}